.caption {
  font-size: 12px;
}
.card-swap {
  height: 338px;
}

.card-child {
  border-radius: 8px !important;
  box-shadow: unset !important;
}
.confirm-info {
  &:extend(.card-child);
}

.card-input {
  border: 1px solid;
}
.active {
  border-color: #f9575e !important;
}

@media (max-width: 992px) {
  .chart-radio-btn {
    .sentre-radio-button-wrapper {
      border: none !important;
      padding: 0 4px !important;
      box-shadow: none !important;
      &::before,
      &::after {
        display: none !important;
      }
    }
  }
}
